<app-navbar></app-navbar>
<div class="cards-container">
    <mat-card *ngFor="let book of books;" class="card-element">
        <div class="mat-card-image-container">
            <img class="mat-card-image" src={{book.image}} alt= {{book.title}} style="max-width: 400px" />
        </div>
        <mat-card-header>
            <mat-card-title>{{book.title}} ({{(book.year)}})</mat-card-title>
        </mat-card-header>

        <mat-card-content>

            <span class="genre-text" *ngFor="let genre of book.genres">{{genre.name}}</span>

        </mat-card-content>


        <mat-card-actions>
            <button
                mat-button
                color="primary"
                (click) = 'openAuthorDialog(book.authors[0].name, book.authors[0].bio, book.authors[0].image )'
            >
                Author
            </button>
            <button
                mat-button
                color="primary"
                (click) = 'openDescriptionDialog(book.title, book.summary, book.pages, book.year)'
            >
                Description
            </button>

            <mat-icon (click)="addToReadList(book.id)">add_circle_outline</mat-icon> 

        </mat-card-actions>
    </mat-card>
</div>