.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    box-sizing: border-box;
    background-color: rgb(250, 250, 234);
    margin-top: 20px;
  }
  
  .card-element {
    width: calc(20% - 5px); /* set the width of each card to 15% of the container width, with a 15px margin */
    margin: 10px; /* add some margin between cards */
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    background-color: #fdfdfb;
  }
  
  .mat-card-image-container {
    flex: 1 1 auto; /* set the image container to take up all available space */
  }
  
  .mat-card-image {
    height: 350px; /* make the image take up the full height of its container */
    width: 100%; /* make the image take up the full width of its container */
    object-fit: cover; /* make sure the image fills the entire container, even if it has to be cropped */
  }
  
  .favorite-btn-add:hover {
    color: #ff0000;
    cursor: pointer;
  }
  
  .favorite-btn-remove:hover {
    color: #ff0000;
    cursor: pointer;
  }

  .genre-text {
    font-size: 10px;
    color: grey;
    font-weight: 500;
    margin-right: 10px;
  }


  @media (max-width: 1200px) {
    .card-element {
      width: calc(20% - 5px); /* display five cards per row */
    }
  }
  
  @media (max-width: 992px) {
    .card-element {
      width: calc(25% - 5px); /* display three cards per row */
    }
  }

@media (max-width: 768px) {
    .card-element {
    width: calc(40% - 5px); /* display two cards per row */
    }
}

  
  @media (max-width: 576px) {
    .card-element {
        width: calc(85% - 5px); 
    }
  }