.navbar {
  display: flex;
  flex-direction: row;
  color: rgb(250, 250, 234);
  justify-content: space-around; 
  align-items: center;
  height: 60px;
  max-width: 100%;
  padding: 0 20px;
  margin:  auto;
  border-radius: 1px;
  background-color: #737e61;
}

.navbar a {
  display: flex;
  align-items: center; /* align items along the vertical axis */
  margin-right: 1rem;
  cursor: pointer;
}

.navbar a mat-icon {
  margin-right: 0.1rem; /* add some space between the icon and text */
  display: inline-flexbox; /* make the icon an inline-block element */
  vertical-align: middle; /* align the icon vertically with the text */
}

.navbar-menu {
  display: flex;
  gap: 20px;
}

.navbar-menu a {
  cursor: pointer;
}

.navbar-menu a:hover {
  color: #F6EDD9;
}
