.dialog-content-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 24px;
    overflow: hidden;

  }
  
  .description-container {
    text-align: left;
  }

  p {
    font-size: 11px;
    color: #333;
  }

  h2 {
    line-height: 1.1;
  }